.toolButtonGroup{
    display: block;
    height: 43px;
    width: 43px;
    overflow: hidden;
    
}

.toolButtonGroupExpanded{
    position: relative;
    width:130px;
}
.toolButtonGroupCollapsed{
    position: relative;
    height: 43px;
    overflow: hidden;

}
.toolButtonGroupCollapsed > *{
    position: absolute;
    top: 0px;
    left: 0px;
}
.toolButtonGroupExpanded > *{
    position: relative;
    left:auto;
}
.toolButton{
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border: 1px solid #69abc3;
    border-radius: 5px;
    cursor:pointer;
}
.toolButtonUp {
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #888;
    background: linear-gradient(#c8e0e9, #FFFFFF 25%, #c8e0e9 70%, #9dc8d8);
}
.toolButtonUp:hover{
    box-shadow: 0 0 0 60px rgba(0,0,0,0.1) inset, .1em .1em .2em #888;
}
.toolButtonDown {
    background: #4087a0;
    border-color: grey;
    top: .1em;
    left: .1em;
}

#SLine{
    background-image: url("images/icons/straight-line.svg");
    background-size: cover;
}
#RLine{
    background-image: url("images/icons/ray-line.svg");
    background-size: cover;
}
#Line{
    background-image: url("images/icons/segment-line.svg");
    background-size: cover;
}
#CircleRad{
    background-image: url("images/icons/circle-center.svg");
    background-size: cover;
}
#Circle2p{
    background-image: url("images/icons/circle-2p.svg");
    background-size: cover;
}
#Circle3p{
    background-image: url("images/icons/circle-3p.svg");
    background-size: cover;
}
#Rect2p{
    background-image: url("images/icons/rectangle.svg");
    background-size: cover;
}
#RectCenter{
    background-image: url("images/icons/rectangle-center.svg");
    background-size: cover;
}
#Triangle{
    background-image: url("images/icons/triangle.svg");
    background-size: cover;
}
#TriangleInscribed{
    background-image: url("images/icons/triangle-inscribed.svg");
    background-size: cover;
}
#TriangleDescribed{
    background-image: url("images/icons/triangle-described.svg");
    background-size: cover;
}
#Parabola{
    background-image: url("images/icons/parabola.svg");
    background-size: cover;
}
#Hyperbola{
    background-image: url("images/icons/hyperbola.svg");
    background-size: cover;
}
#Function{
    background-image: url("images/icons/fx.svg");
    background-size: cover;
}
.snapButton{
    width: 36px;
    height: 36px;
}
#grid{
    background: url("images/icons/grid-snap.svg")  no-repeat;
    background-size: cover;
    
}

#endpoint{
    background: url("images/icons/vertex-snap.svg")  no-repeat;
    background-size: cover;
}
#middlepoint{
    background: url("images/icons/middle-snap.svg")  no-repeat;
    background-size: cover;
}
#centerpoint{
    background: url("images/icons/center-snap.svg")  no-repeat;
    background-size: cover;
}
#crossSelect{
    background: url("images/icons/cross-select.svg")  no-repeat;
    background-size: cover;
}
#fullSelect{
    background: url("images/icons/full-select.svg")  no-repeat;
    background-size: cover;
}
#evklid{
    background: url("images/evklid.png")  no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0px;
    right:0px;
    width:150px;
    height:150px;
}
#pifagor{
    background: url("images/pifagor.png")  no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0px;
    left:0px;
    width:150px;
    height:150px;
}
.checkbox{
    display: flex;
    justify-content:flex-start;
    align-items:center;
    position:relative;
    left:-7px;
    font-size: small;
    overflow: hidden;
    white-space: nowrap;
}
.helpButton{
    display: inline-block;
    font-size: large;
    font-weight: bold;
    height: auto;
    margin-left: 10px;
    fpadding:1px 5px;
    z-index: 99;
}
