html{
  height:100vh;
}
body{
  background-color: whitesmoke;
  background-image: url("images/background.png");
  min-height:100%;
}
.screenContainer{
  position:absolute;
  width:80%;
  height:80%;
  left:80px;
}
.mainContainer{
 position: absolute;
 width:100%;
 height:100%;
}
.header{
  display: flex;
  align-items: center;
}
.toolBar{
  display: inline-block;
  border:5px ridge;
  background-color: rgba(185, 202, 203, 0.8);
  padding: 5px;
  border-radius: 5px;
}
.createToolBar{
  display: block;
  position: absolute;
  top: 0px;
  left:0px;
  width:55px;
}
.snapToolBar{
  position: fixed;
  bottom: 0px;
}
.propertiesBar{
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: smaller; 
}
.propertyFieldIncorrect{
  border: red;
}
.propertyGroup{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.langToggleBar{
  display: inline-block;
}
.langToggleButtonDown{
  display: inline-block;
  border: 2px inset;
  cursor: pointer;
  width:35px;
  height:19px;
}

.langToggleButtonUp{
  display: inline-block;
  border: 2px outset;
  cursor: pointer;
  box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #888;
  width:35px;
  height:19px;
}
#ru{
  background: url('images/icons/rus.png') no-repeat;
  background-size: 100%;
}
#en{
  background: url('images/icons/eng.png') no-repeat;
  background-size: 100%;
}

.optionToggleBar{
  display: inline-block;
  border:5px ridge;
  background-color: rgba(185, 202, 203, 0.8);
  padding: 5px;
  border-radius: 5px;
}

.toolBarHeader{
  display: flex;
  justify-content: center;
  border:1px dashed;
  
}
#canvas{
  position: absolute;
  border:5px ridge;
  background-color: rgba(185, 202, 203, 0.8);
  border-radius: 5px;
  cursor:none;
}
.helpSection{
  display:inline-block;
  position: absolute;

  z-index: 101;

}
.helpContainer{
  position:absolute;
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100%;
  z-index: 100;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
