#main_clock{
    background-image: url("./clock-face.png");
    dbackground-size: cover;
}
#hour_clock_hand{
    background-image: url("./hour-clock-hand.png");
    dbackground-size: cover;
}
#minute_clock_hand{
    background-image: url("./minute-clock-hand.png");
    dbackground-size: cover;
}
#second_clock_hand{
    background-image: url("./second-clock-hand.png");
    dbackground-size: cover;
}
.clock{
    position:absolute;
    pointer-events: none;
    width: 200px;
    height: 200px;
    background-size: cover;
}

