.toolButtonGroup{
    display: block;
    height: 44px;
    width: 44px;
    overflow: hidden;
    
}

.toolButtonGroupExpanded{
    position: relative;
    width:130px;
}
.toolButtonGroupCollapsed{
    position: relative;
    height: 43px;
    overflow: hidden;

}
.toolButtonGroupCollapsed > *{
    position: absolute;
    top: 0px;
    left: 0px;
}
.toolButtonGroupExpanded > *{
    position: relative;
    left:auto;
}
.toolButton{
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.toolButtonUp {
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #888;
    background: linear-gradient(#c8e0e9, #FFFFFF 25%, #c8e0e9 70%, #9dc8d8);
}
.toolButtonUp .toolButtonEnabled:hover{
    box-shadow: 0 0 0 60px rgba(0,0,0,0.1) inset, .1em .1em .2em #888;
}
.toolButtonUp .toolButtonDisabled:hover{
    box-shadow:none;
}
.toolButtonDown {
    background: #4087a0;
    border-color: grey;
    top: .1em;
    left: .1em;
}
.toolButtonEnabled{
    cursor:pointer;
    border: 1px solid #69abc3;
}
.toolButtonDisabled{
    cursor:default;
    border: 1px solid #b0b4b6;
}
.toolButtonDisabled:hover{
    
}
.largeSizeButton{
    width: 40px;
    height: 40px;
}
.middleSizeButton{
    width: 36px;
    height: 36px;
}

#evklid{
    background: url("images/evklid.png")  no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0px;
    right:0px;
    width:150px;
    height:150px;
}
#pifagor{
    background: url("images/pifagor.png")  no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0px;
    left:0px;
    width:150px;
    height:150px;
}
.checkbox{
    display: flex;
    justify-content:flex-start;
    align-items:center;
    position:relative;
    left:0px;
    font-size: small;
    overflow: hidden;
    white-space: nowrap;
}
.helpButton{
    display: inline-block;
    font-size: large;
    font-weight: bold;
    height: auto;
    margin-left: 10px;
    /*padding:1px 5px;*/
    z-index: 99;
}
.pickButton{
    display: inline-block;
    background-image: url('./images/icons/target.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width:20px;
    height: auto;
    cursor: pointer;
}

.pickButtonDown{
    border: inset 1px;
}
.pickButtonUp{
    border: outset 1px;
}