.createShapeButtonGroup{
    display: block;
    height: 55px;
    width: 55px;
    overflow: hidden;
    
}

.createShapeButtonGroupExpanded{
    position: relative;
    width:100vw;
}
.createShapeButtonGroupCollapsed{
    position: relative;
    height: 55px;
    overflow: hidden;

}
.createShapeButtonGroupCollapsed > *{
    position: absolute;
    top: 0px;
    left: 0px;

}
.createShapeButtonGroupExpanded > *{
    position: relative;

}
.createShapeButton{
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    border: 1px solid #69abc3;
    border-radius: 5px;
    cursor:pointer;

}
.createShapeButtonUp {
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #888;
    background: linear-gradient(#c8e0e9, #FFFFFF 25%, #c8e0e9 70%, #9dc8d8);
}
.createShapeButtonUp:hover{
    box-shadow: 0 0 0 60px rgba(0,0,0,0.1) inset, .1em .1em .2em #888;
}
.createShapeButtonDown {
    background: #4087a0;
    border-color: grey;
    top: .1em;
    left: .1em;
}

#SLine{
    background-image: url("./images/icons/straight-line.png");
    background-size: cover;
}
#RLine{
    background-image: url("./images/icons/ray-line.png");
    background-size: cover;
}
#Line{
    background-image: url("./images/icons/segment-line.png");
    background-size: cover;
}
#CircleRad{
    background-image: url("./images/icons/circle-center.png");
    background-size: cover;
}
#Circle2p{
    background-image: url("./images/icons/circle-2p.png");
    background-size: cover;
}
#Circle3p{
    background-image: url("./images/icons/circle-3p.png");
    background-size: cover;
}
#Rect2p{
    background-image: url("./images/icons/rectangle.png");
    background-size: cover;
}
#Triangle{
    background-image: url("./images/icons/triangle.png");
    background-size: cover;
}
.snapButton{
    width: 36px;
    height: 36px;
}
#grid{
    background: url("./images/icons/grid-snap.png")  no-repeat;
    background-size: cover;
    
}

#endpoint{
    background: url("./images/icons/vertex-snap.png")  no-repeat;
    background-size: cover;
}
#middlepoint{
    background: url("./images/icons/middle-snap.png")  no-repeat;
    background-size: cover;
}
#centerpoint{
    background: url("./images/icons/center-snap.png")  no-repeat;
    background-size: cover;

}
