.createShapeButtonUp {
    position: relative;
    display: inline-block;
    width: 8em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #000;
    outline: none;
    border: 1px solid #69abc3;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #888;
    background: linear-gradient(#c8e0e9, #FFFFFF 25%, #c8e0e9 70%, #9dc8d8);
    cursor:pointer;
}
.createShapeButtonUp:hover{
    box-shadow: 0 0 0 60px rgba(0,0,0,0.1) inset, .1em .1em .2em #888;
}
.createShapeButtonDown {
    position: relative;
    display: inline-block;
    width: 8em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 1px solid #93989a;
    border-radius: 5px;
    
    background: #4087a0;
    cursor:pointer;
    top: .1em;
    left: .1em;
}

#SLine{
    background: url("./images/icons/straight-line.png") no-repeat;
    background-size: 100%;
    width: 48px;
    height: 48px;
}
#RLine{
    background: url("./images/icons/ray-line.png")  no-repeat;
    background-size: 100%;
    width: 48px;
    height: 48px;
}
#Line{
    background: url("./images/icons/segment-line.png")  no-repeat;
    background-size: 100%;
    width: 48px;
    height: 48px;
}
#CircleRad{
    background: url("./images/icons/circle-center.png")  no-repeat;
    background-size: 100%;
    width: 48px;
    height: 48px;
}
#grid{
    background: url("./images/icons/grid-snap.png")  no-repeat;
    background-size: 100%;
    width: 24px;
    height: 24px;
}